*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
  font-size: 10px;
  font-weight: 400;
  cursor: crosshair;
  scroll-behavior: smooth;
}

#index {
  font-size: 3rem;
  text-transform: uppercase;
}

#index a {
  text-decoration: none;
  color: inherit;
}

#index .giddyup {
  font-family: giddyup-std, sans-serif;
  font-size: 3.15rem;
}

@media (hover: hover) and (min-width: 540px) {
  #index a:hover {
    font-family: giddyup-std, sans-serif;
    font-size: 3.15rem;
    line-height: 0;
    cursor: crosshair;
  }
  #index a:hover img {
    margin-top: 2.5px;
    padding: 0;
  }
}

@media (max-width: 540px) {
  #index {
    font-size: 2.5rem;
  }
  #index .giddyup {
    font-size: 2.5rem;
  }
  #index #name {
    font-family: giddyup-std, sans-serif;
  }
}

#grid-container {
  font-size: 3rem;
}

#grid-container .title {
  text-transform: uppercase;
  font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

#grid-container .author {
  font-size: 2.75rem;
  font-family: freight-big-pro, serif;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
}

#grid-container .author a {
  text-decoration: none;
  color: inherit;
}

#grid-container .writeup {
  font-size: 1.5rem;
  line-height: 1.25;
}

#grid-container .writeup a {
  color: inherit;
}

#grid-container .writeup h1 {
  font-size: 2.75rem;
  text-transform: uppercase;
}

#grid-container .writeup h2 {
  font-size: 2rem;
}

#grid-container .writeup ol {
  list-style-type: decimal;
}

#grid-container .writeup ul {
  list-style-type: circle;
}

#grid-container .writeup th {
  font-size: 2rem;
}

#grid-container .writeup .caption {
  font-size: 2rem;
  text-transform: lowercase;
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: italic;
}

#grid-container #sections a {
  text-decoration: none;
  color: inherit;
}

#grid-container .wdc-intro {
  font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
  font-size: 2.75rem;
  text-transform: uppercase;
}

#grid-container .wdc-intro p {
  line-height: 1.25;
}

#grid-container .wdc-caption {
  font-size: 1.25rem;
}

#index {
  margin: 7.5rem 8rem 7.5rem 7.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  line-height: 1.125;
}

#index #top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#index #middle {
  margin-top: 15rem;
  white-space: nowrap;
}

#index #bottom {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#index #bottom #description {
  width: 350px;
}

#index #bottom #description p:not(:last-child) {
  margin-bottom: 3.75rem;
}

#index #bottom #links {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#index #bottom #links .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bottom #links .icons img {
  margin-top: 2px;
  padding: 0.5px;
}

#index #bottom #links .icons :not(:last-child) {
  margin-right: 1.25rem;
}

#index #bottom #links .copyright {
  white-space: nowrap;
}

@media (max-width: 1024px) {
  #index #middle {
    white-space: normal;
  }
}

@media (max-width: 768px) {
  #index #middle {
    margin-top: 11.25rem;
  }
  #index #middle .project:not(:last-child) {
    margin-bottom: 2rem;
  }
  #index #bottom {
    margin-top: 11.25rem;
  }
}

@media (max-width: 540px) {
  #index {
    margin: 7.5rem 0 7.5rem 3.75rem;
  }
  #index #top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    white-space: nowrap;
  }
  #index #middle {
    margin-top: 3.75rem;
    width: 250px;
  }
  #index #bottom {
    margin-top: 3.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #index #bottom #description {
    width: 60%;
  }
  #index #bottom #description p:not(:last-child) {
    margin-bottom: 1.875rem;
  }
  #index #bottom #links {
    margin-top: 3.75rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #index #bottom #links .icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#project-page #grid-container {
  margin: 0 7.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 800px) minmax(min-content, 200px);
      grid-template-columns: minmax(-webkit-min-content, 800px) minmax(-webkit-min-content, 200px);
      grid-template-columns: minmax(min-content, 800px) minmax(min-content, 200px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#project-page .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding-top: 7.5rem;
}

#project-page .author {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

#project-page .visual {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding-top: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

#project-page .visual :not(:first-child) {
  margin-left: 25px;
}

#project-page .desktop {
  border: 1px solid black;
  width: 500px;
  height: 315.04px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#project-page .desktop video {
  position: relative;
  width: 502px;
  margin-left: -1px;
}

#project-page .mobile, #project-page .mobile-large {
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#project-page .mobile video, #project-page .mobile-large video {
  position: relative;
  margin-top: -2.5px;
  width: 101%;
}

#project-page .mobile {
  width: 170.61px;
}

#project-page .mobile-large {
  width: 225px;
}

#project-page .writeup {
  padding-bottom: 7.5rem;
  padding-top: 1.75rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

#project-page .writeup .overview {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 2.5rem;
}

#project-page .writeup .overview h2 {
  margin-top: 0;
}

#project-page .writeup .overview .overview-left {
  width: 50%;
  margin-right: 75px;
}

#project-page .writeup .overview .overview-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#project-page .writeup .overview .overview-right .timeline, #project-page .writeup .overview .overview-right .tools {
  margin-bottom: 1.5rem;
}

#project-page .writeup .contributions h2 {
  margin-top: 0;
}

#project-page .writeup h1 {
  margin-bottom: 1.5rem;
}

#project-page .writeup h2 {
  margin-top: 5rem;
  width: 85%;
  margin-bottom: 0.75rem;
}

#project-page .writeup h2:nth-child(2) {
  margin-top: 0;
}

#project-page .writeup p, #project-page .writeup ol, #project-page .writeup ul {
  width: 85%;
  margin-bottom: 1.5rem;
}

#project-page .writeup ol, #project-page .writeup ul {
  padding-left: 3rem;
}

#project-page .writeup ol li, #project-page .writeup ul li {
  padding-top: 0.5rem;
  padding-left: 1.25rem;
}

#project-page .writeup table {
  margin: 2.5rem 0 2.5rem 0;
  border-collapse: collapse;
}

#project-page .writeup table, #project-page .writeup th, #project-page .writeup td {
  border: 1px solid black;
}

#project-page .writeup th, #project-page .writeup td {
  text-align: left;
  padding: 1rem;
}

#project-page .writeup .section {
  margin-bottom: 5rem;
}

#project-page .writeup .last-child {
  margin-bottom: 0;
}

#project-page .writeup .figure {
  margin: 2.5rem auto;
}

#project-page .writeup .figure img {
  width: 90%;
}

#project-page .writeup .figure .caption {
  margin-top: 0.5rem;
  width: 90%;
  text-align: center;
}

#project-page .writeup .figure-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project-page .writeup .figure-video :not(:first-child) {
  margin-left: 25px;
}

#project-page .writeup .figure-video .desktop {
  width: 500px;
  height: 315.04px;
}

@-webkit-keyframes wwr-hl-animation {
  0% {
    background-color: none;
  }
  100% {
    background-color: #fda7a3;
  }
}

@keyframes wwr-hl-animation {
  0% {
    background-color: none;
  }
  100% {
    background-color: #fda7a3;
  }
}

#project-page .writeup .wwr-hl-trigger {
  -webkit-animation: wwr-hl-animation 0.75s ease-in-out 0s 1 normal forwards;
          animation: wwr-hl-animation 0.75s ease-in-out 0s 1 normal forwards;
}

#project-page .writeup .wwr-values {
  margin: 5rem auto;
}

#project-page .writeup .wwr-values ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#project-page .writeup .wwr-values ul :nth-child(1) {
  background-color: #F15152;
}

#project-page .writeup .wwr-values ul :nth-child(2) {
  background-color: #FFFD82;
}

#project-page .writeup .wwr-values ul :nth-child(3) {
  background-color: #C0D8E0;
}

#project-page .writeup .wwr-values li {
  padding: 10% 7.5%;
  border: 1px dashed black;
  border-radius: 50%;
}

#project-page .writeup .quality {
  background-color: #F15152;
  padding: 1px;
}

#project-page .writeup .inclusive {
  background-color: #FFFD82;
  padding: 1px;
}

#project-page .writeup .eclectic {
  background-color: #C0D8E0;
  padding: 1px;
}

@-webkit-keyframes sm-hl-animation {
  0% {
    background-color: white;
  }
  100% {
    background-color: #d2e6f3;
  }
}

@keyframes sm-hl-animation {
  0% {
    background-color: white;
  }
  100% {
    background-color: #d2e6f3;
  }
}

#project-page .writeup .sm-hl-trigger {
  -webkit-animation: sm-hl-animation 0.75s ease-in-out 0s 1 normal forwards;
          animation: sm-hl-animation 0.75s ease-in-out 0s 1 normal forwards;
}

#project-page .writeup #ideation-table {
  display: none;
}

#project-page #sections {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column-align: end;
      justify-self: end;
  text-transform: uppercase;
  font-size: 1.75rem;
  white-space: nowrap;
  top: 3.75rem;
  position: -webkit-sticky;
  position: sticky;
}

#project-page #sections .first-child {
  margin-top: 3.75rem;
}

#project-page #links {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  top: calc(100vh - 7.5rem - 60px);
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#project-page #links .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project-page #links .icons img {
  margin-top: 2px;
  padding: 0.5px;
}

#project-page #links .icons :not(:last-child) {
  margin-right: 1.25rem;
}

#project-page #links .copyright {
  white-space: nowrap;
}

#project-page .wdc-intro {
  width: 450px;
  margin-bottom: 15rem;
  padding-top: 7.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#project-page .wdc-intro p:not(:first-child) {
  margin-top: 2rem;
}

#project-page .wdc p {
  width: 300px;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

#project-page .wdc img, #project-page .wdc video {
  width: 120%;
}

#project-page .wdc img:not(:last-child), #project-page .wdc video:not(:last-child) {
  margin-bottom: 1.5rem;
}

#project-page .wdc .two-col-grid {
  display: -ms-grid;
  display: grid;
  width: 120%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#project-page .wdc .two-col-grid :nth-child(odd) {
  padding-right: 0.75rem;
}

#project-page .wdc .two-col-grid :nth-child(even) {
  padding-left: 0.75rem;
}

#project-page .wdc .two-col-grid img {
  width: 100%;
  margin-bottom: 1.5rem;
}

#project-page .wdc:not(:last-child) {
  margin-bottom: 15rem;
}

@media (max-width: 1024px) {
  #project-page #grid-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  #project-page .wdc-intro {
    margin-bottom: 2.25rem;
  }
  #project-page .wdc img, #project-page .wdc video {
    width: 100%;
  }
  #project-page .wdc .two-col-grid {
    width: 100%;
  }
  #project-page .wdc .two-col-grid img {
    width: 100%;
  }
  #project-page .writeup {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    padding-bottom: 0;
  }
  #project-page #sections {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: left;
    top: auto;
    position: static;
    margin-bottom: 1.5rem;
  }
  #project-page #sections .first-child {
    margin-top: 1rem;
  }
  #project-page #links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    top: auto;
    position: static;
    padding-top: 1.75rem;
    padding-bottom: 7.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 768px) {
  #project-page #grid-container {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
  #project-page .visual {
    margin-bottom: 1.5rem;
  }
  #project-page .visual :not(:first-child) {
    margin-left: 3%;
  }
  #project-page .desktop {
    width: 400px;
    height: 253px;
  }
  #project-page .desktop video {
    width: 101%;
    height: auto;
  }
  #project-page .mobile {
    width: 24.5%;
    height: auto;
  }
  #project-page .mobile video {
    width: 101%;
  }
  #project-page .writeup .figure-video {
    height: 100%;
  }
  #project-page .writeup .figure-video .desktop {
    width: 400px;
    height: 253px;
  }
  #project-page .writeup .figure-video .mobile {
    width: 141.04px;
    height: 274.45px;
  }
  #project-page #sections {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 540px) {
  #project-page .visual {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #project-page .visual :not(:first-child) {
    margin: 5% 0 0 0;
  }
  #project-page .desktop {
    width: 285px;
    height: 180px;
  }
  #project-page .mobile {
    width: 45%;
  }
  #project-page .wdc-intro {
    width: 300px;
  }
  #project-page .writeup .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-bottom: 1.5rem;
  }
  #project-page .writeup .overview .overview-left {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  #project-page .writeup .overview .overview-right {
    width: 100%;
  }
  #project-page .writeup .figure img {
    width: 100%;
  }
  #project-page .writeup .figure .caption {
    width: 100%;
  }
  #project-page .writeup .figure-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #project-page .writeup .figure-video .desktop {
    width: 285px;
    height: 180px;
  }
  #project-page .writeup .figure-video .mobile {
    margin-top: 2.5rem;
  }
  #project-page .writeup p, #project-page .writeup ol, #project-page .writeup ul, #project-page .writeup h2 {
    width: 100%;
  }
}

.icons img {
  height: 18px;
}

#mail {
  height: 14px;
}

.solution-button {
  cursor: pointer;
  margin: 2rem 0 2rem 0;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.16);
  text-transform: uppercase;
  font-size: 2rem;
  white-space: nowrap;
}

.solution-button a {
  text-decoration: none;
  color: inherit;
}

.sm-button {
  border: 2px solid #3240DD;
  background-color: #F2F4FF;
  color: #3240DD;
}

.wwr-button {
  border: 2px solid black;
  background-color: #F7EDE8;
  color: #F16662;
}

#ideation-button, #storyboard-button, #balsamiq-button {
  cursor: pointer;
  margin: 3rem 0;
  padding: 1rem;
  border: 2px solid #3240DD;
  background-color: #F2F4FF;
  border-radius: 20px;
  color: #3240DD;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=style.css.map */