//resets
// *, *:before, *:after
//     box-sizing: border-box

*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

//
html {
    font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
    // background-color: #F5F5F5;
    font-size: 10px;
    font-weight: 400;
    cursor: none;
    a:hover {
        cursor: none;
    }
    // cursor: url("/img/middle-cursor.svg"), auto;
    scroll-behavior: smooth;
}

// $color-scheme: #f5eeeee0;
// $text-bg: #43b649;

// $color-scheme:#34bb3f;
// $text-bg: #ebe4e5e0;

$text-bg: #f5eeeee0;
$color-scheme: #43b649;



//home page
#index {
    font-size: 3rem;
    text-transform: uppercase;

    a {
        text-decoration: none;
        color: inherit;
    }

    @media (hover: hover) and (min-width: 540px) {
        #resume, #description, #middle {
            a:hover {
                background-color: $color-scheme;
                color: $text-bg;
            }
        }
                        
        a:hover img {
            margin-top: 2.5px;
            padding: 0;
        }
    }

    @media (max-width: 540px) {
        font-size: 2.5rem;
    }
}

//project pages
#grid-container {
    font-size: 3rem;

    .green {
        background-color: $color-scheme;
        color: $text-bg;
    }

    .title { 
        text-transform: uppercase;
        // font-family: giddyup-std, sans-serif;
        font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
        // font-size: 2.5rem;
        font-size: 2.75rem;
        font-weight: 400;
    }

    .author {
        a {
            text-decoration: none;
            color: inherit;
        }

        margin-top: 0.5rem;
        font-size: 2.75rem;
        font-family: freight-big-pro, serif;
        font-weight: 300;
        font-style: italic; 
        text-transform: lowercase;
    }

    .writeup {
        a {
            color: inherit;
        }

        h1 {
            font-size: 2.75rem;
            text-transform: uppercase;
        }

        h2 {
            font-size: 2rem;
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: circle;
        }

        th {
            // font-weight: 600;
            font-size: 2rem;
        }

        .caption {
            font-size: 2rem;
            text-transform: lowercase;

            font-family: freight-big-pro, serif;
            font-weight: 400;
            font-style: italic;
        }

        font-size: 1.5rem;
        line-height: 1.25;
    }

    #sections {
        text-transform: uppercase;
        font-size: 1.75rem;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    //WDC (non-case-study)
    .wdc-intro {
        font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;

        p {
            line-height: 1.25;
        }
    }

    .wdc-caption {
        font-size: 1.25rem;

    }
}

