//resets
// *, *:before, *:after
//     box-sizing: border-box

*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

//
html {
    font-family: Pragmatica, "Microsoft-Sans-Serif", sans-serif;
    font-size: 10px;
    font-weight: 400;
    cursor: crosshair;
}

//home page
#index {
    font-size: 3rem;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: black;
    }

    .giddyup {
        font-family: giddyup-std, sans-serif;
        font-size: 3.15rem;
    }

    @media (hover: hover) and (min-width: 540px) {
        a:hover {
            font-family: giddyup-std, sans-serif;
            font-size: 3.15rem;
            line-height: 0;
            cursor: crosshair;
    
            img {
                margin-top: 2.5px;
                padding: 0;
            }
        }
    }

    @media (max-width: 540px) {
        font-size: 2.5rem;

        .giddyup {
            font-size: 2.5rem;
        }

        #name {
            font-family: giddyup-std, sans-serif;
        }
    }
}

//project pages
#grid-container {
    font-size: 3rem;
    .title { 
        text-transform: uppercase;
        font-family: giddyup-std, sans-serif;
    }

    .author {
        font-size: 2.75rem;
        font-family: freight-big-pro, serif;
        font-weight: 300;
        font-style: italic; 
        text-transform: lowercase;
    }

    .writeup {
        h1 {
            font-size: 2.75rem;
            text-transform: uppercase;
        }

        h2 {
            font-size: 2rem;
            // text-transform: uppercase;
            // font-weight: 400;
            // font-size: 2.75rem;
            // font-family: freight-big-pro, serif;
            // font-weight: 300;
            // font-style: italic; 
            // text-transform: lowercase;
        }
        
        font-size: 1.5rem;
        line-height: 1.25;
    }
}