$m-circ-d: 48px;
$m-mid-d: 24px;

// $bg-big: rgb(228, 222, 222);
// $bg-small: rgb(255, 230, 0);
// $bg-small: rgb(223, 53, 41);

//mouse cursor
#mouse-outer {
    // position: absolute;
    position: fixed;
    // width: $m-circ-d;
    width: $m-circ-d;
    height: $m-circ-d;
    // margin: ($m-circ-d/2) * -1px 0px 0px ($m-circ-d/2) * -1px;
    // margin: -16px 0px 0px -16px;
    margin: (-$m-circ-d/2) 0px 0px (-$m-circ-d/2);
    // background-color: $color-scheme;
    // border: 1px dotted $text-bg;
    background-color: $text-bg;
    border: 1px dotted $color-scheme;
    opacity: 0.85;
    border-radius: 50%;
    pointer-events: none !important;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0);
    z-index: 1000;
}

#mouse-inner {
    // position: absolute;
    position: fixed;
    width: $m-mid-d;
    height: $m-mid-d;
    margin: (-$m-mid-d/2) 0px 0px (-$m-mid-d/2);
    // background-color: $bg-small;
    // background-color: $text-bg;
    // border: 1px dotted $color-scheme;
    background-color: $color-scheme;
    border: 1px dotted $text-bg;
    opacity: 0.85;
    border-radius: 50%;
    pointer-events: none !important;
    z-index: 1000;
}

.navigation-desktop {
    // font-size: 2rem;
    text-transform: uppercase;
    // margin-bottom: 1rem;
    // padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    // margin-top: 5rem;
    margin-bottom: 1.5rem;
    // align-items: flex-end;
    // flex-direction: column;
    line-height: 1;
    // text-align: right;
    // padding: 1rem 0;

    a {
        // text-decoration: none;
        // color: black;
        display: inline;
        // opacity: 0.5;
        // background-color: $color-scheme;
        // color: $text-bg !important;
        // padding: 0.25rem;
        // border: 1px solid black;
        // margin-bottom: 1rem;
        // text-decoration: underline !important;
        // text-decoration-color: $color-scheme !important;
        color: $color-scheme !important;
        border: 1px dotted $color-scheme;
        background-color: $text-bg;
        // -webkit-box-shadow: 4px 4px 6px 0px rgba(67,182,73,0.25); 
        // box-shadow: 4px 4px 6px 0px rgba(67,182,73,0.25);
        // padding: 0 0.25rem;
        padding: 0.50rem 0.50rem;
    }

    a:hover {
        // background-color: $color-scheme;
        // color: $text-bg !important;
        opacity: 1;
        color: $text-bg !important;
        background-color: $color-scheme;
    }

    div {
        margin-bottom: 0.75rem;
        // margin-bottom: 1.25rem;
    }
    
}

.icons img {
    height: 18px;
}

#mail { //mail icon not a square
    height: 14px; 
}

.solution-button {
    cursor: pointer;
    margin: 2rem 0 4rem 0;
    padding: 1rem 2.5rem;
    // padding: 1rem 7.5rem;
    border-radius: 20px;
    width: fit-content;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.16); 
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.16);
    text-transform: uppercase;
    font-size: 2rem;
    white-space: nowrap;
    width: 90%;
    text-align: center;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.sm-button {
    border: 2px solid #3240DD;
    background-color: #F2F4FF;
    color: #3240DD;
}

.wwr-button {
    border: 2px solid black;
    background-color: #F7EDE8;
    // background-color: #FDA7A3;
    color: #F16662;
    // color: black;
}

#ideation-button, #storyboard-button, #balsamiq-button {
    cursor: pointer;
    margin: 3rem 0;
    padding: 1rem;
    border: 2px solid #3240DD;
    background-color: #F2F4FF;
    border-radius: 20px;
    color: #3240DD;
    width: fit-content;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.16); 
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.16);
}

@media (max-width: 1024px) {
    .navigation {
        text-align: left;
    }
}

@media (hover: none) {
    #mouse-outer, #mouse-inner {
        display: none;
    }

    html {
        cursor: auto;
        a:hover {
            cursor: pointer;
        }
    }
}